.popup__save-button {
    max-width: 358px;
    min-height: 50px;
    color: #fff;
    background: #000;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 36px 37px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 586px) {
    .popup__save-button {
        max-width: 238px;
        min-height: 46px;
        margin: 15px 22px 25px;
        font-size: 14px;
        line-height: 17px;
    }
}