.profile {
    display: flex;
    margin: 0 auto;
    width: 880px;
    padding-top: 40px;
    justify-content: space-between;
}

@media screen and (max-width: 910px) {
    .profile {
        max-width: 580px;
      }
}

@media screen and (max-width: 586px) {
    .profile {
        max-width: 282px;
        flex-direction: column;
        padding-top: 42px;
      }
}
