.elements__element-delete {
    max-width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none;
}

.elements__element-delete:hover {
    opacity: 0.6;
}