.elements {
    display: grid;
    padding-top: 51px;
    margin: 1px auto;
    max-width: 880px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 910px) {
    .elements {
        max-width: 579px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(361px, 1fr, 1fr));
        row-gap: 14px;
        column-gap: 12px;
      }
}

@media screen and (max-width: 586px) {
    .elements {
        padding-top: 36px;
        margin: 0 auto;
        max-width: 282px;
        grid-auto-flow: column;
        grid-template-columns: 282px;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
      }
}