.authform {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 282px);
    width: 358px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #000;
    color: #FFFFFF;
}

@media screen and (max-width: 586px) {
    .authform {
        width: 260px;
        margin-top: 40px;
    }
}