.popup__container {
    position: relative;
    width: 430px;
    height: 330px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    margin: 195px auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
}

@media screen and (max-width: 586px) {
    .popup__container {
        max-width: 282px;
        margin: 123px auto;
        }
}