@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-container/profile__info-container.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__info-title/profile__info-title.css);
@import url(./blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__element-image/elements__element-image.css);
@import url(./blocks/elements/__element-photo/elements__element-photo.css);
@import url(./blocks/elements/__element-delete/elements__element-delete.css);
@import url(./blocks/elements/__element-delete/_active/elements__element-delete_active.css);
@import url(./blocks/elements/__element-place/elements__element-place.css);
@import url(./blocks/elements/__element-title/elements__element-title.css);
@import url(./blocks/elements/__element-like-container/elements__element-like-container.css);
@import url(./blocks/elements/__element-like/elements__element-like.css);
@import url(./blocks/elements/__element-like-count/elements__like-count.css);
@import url(./blocks/elements/__element-like/_active/elements__element-like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_avatar/popup__container_avatar.css);
@import url(./blocks/popup/__container/_confirm/popup__container_confirm.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_confitm/popup__title_confirm.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
@import url(./blocks/popup/__save-button/_confirm/popup__save-button_confirm.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form-field/popup__form-field.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-caption/popup__photo-caption.css);
@import url(./blocks/popup/_image/popup_image.css);


